<!DOCTYPE html>
<html lang="fr" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" th:with="activeMenuItem='adminPage'">
<head th:replace="fragments/header :: header">
  <title>Users</title>
</head>
<body style="background: #4f5050">



	<div th:insert="fragments/sidebar :: sidebar"></div>

	<!-- ============================================================== -->
	<!-- Container fluid  -->
	<!-- ============================================================== -->
	<div class="container-fluid" th:insert="fragments/navigation">
		<h1 th:text="#{user.all}" class="page-titles display-flex-center"></h1>
	</div>
	<div class="container" id="mainContainer">
		<!-- ============================================================== -->
		<!-- Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- End Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Start Page Content -->
		<!-- ============================================================== -->
		<!-- Row -->

  <!-- tag::create-button[] -->
    <div th:replace="fragments/titles :: title-with-button(#{users.title}, 'user-add', #{users.add}, @{/adminPage/signup})"
         sec:authorize="hasRole('ADMIN')"></div>
    <!-- end::create-button[] -->
    <!-- tag::alert[] -->
    <div th:if="${deletedUserName}"> <!--.-->
        <div th:replace="fragments/alerts :: success(#{user.delete.success(${deletedUserName})})"></div> <!--.-->
    </div>
    <!-- end::alert[] -->
		<div >

			<!--Search user-->
			<div class="row col-lg-12 d-flex flex-nowrap pb-2">
				<div class="input-group">
					<select class="custom-select" id="search-user-dropdown"
						onchange="saveSearchParameters(this);">
						<option value="ID">ID</option>
						<option value="fullName">fullName</option>
						<option value="Email">Email</option>
					</select> <input type="text" id="searchUserBar"
						onkeyup='saveSearchParameters(this);'
						placeholder="Search for users.." class="form-control"
						aria-label="Text input with dropdown button">
				</div>
				<button type="button" class="btn btn-secondary ml-2"
					onclick="searchUserByProperty()">Search</button>
			</div>

			<!--Table with users-->
			<div th:if="${users.isEmpty()}">[[#{no.users}]]</div>
			<div class="table-responsive .table-responsive" th:unless="${users.isEmpty()}"
				id="mainContainerRepleace">

				<table class="table">
					<thead >
						<tr >
							<th onclick="sortTable(0)" scope="col"
								th:replace="fragments/table :: header(#{label.user.id})"></th>
							<th onclick="sortTable(1)" scope="col"
								th:replace="fragments/table :: header(#{user.headers.firstName})"></th>
							<th onclick="sortTable(2)" scope="col"
								th:replace="fragments/table :: header(#{user.headers.lastName})"></th>
							<th onclick="sortTable(3)" scope="col"
								th:replace="fragments/table :: header(#{user.headers.email})"></th>
							<th onclick="sortTable(4)" scope="col"
								th:replace="fragments/table :: header(#{user.headers.mobileNumber})"></th>
							<th onclick="sortTable(5)" scope="col"
								th:replace="fragments/table :: header(#{label.user.birthDate})"></th>
							<th onclick="sortTable(6)" scope="col"
								th:replace="fragments/table :: header(#{label.user.password})"></th>
							<th onclick="sortTable(7)" scope="col"
								th:replace="fragments/table :: header(#{label.user.confirmPass})"></th>
							<th onclick="sortTable(8)" scope="col"
								th:replace="fragments/table :: header(#{user.roles})"></th>
							<th onclick="sortTable(9)" scope="col"
								th:replace="fragments/table :: header(#{header.address.list})"></th>
							<th scope="col"
								th:replace="fragments/table :: header(#{user.del})"></th>
							<th scope="col"
								th:replace="fragments/table :: header(#{user.edit})"></th>
						</tr>
					</thead>
					<tbody align="center">
						<tr th:each="user : ${users}" class="table-primary">
							<td class="table-primary" scope="col"
								th:replace="fragments/table ::data(contents=${user.id},primary=true)"></td>
							<td class="
								table-secondary" scope="col"
								th:replace="fragments/table :: data(${user.firstName})"></td>
							<td class="table-success" scope="col"
								th:replace="fragments/table :: data(${user.lastName})"></td>
							<td class="table-danger" scope="col"
								th:replace="fragments/table :: data(${user.email})"></td>
							<td class="table-warning" scope="col"
								th:replace="fragments/table :: data(${user.mobileNumber})"></td>
							<td class="table-info" scope="col"
								th:replace="fragments/table :: data(${user.birthDate})"></td>
							<td class="table-light" scope="col"
								th:replace="fragments/table :: data(${user.password})"></td>
							<td class="table-dark" scope="col"
								th:replace="fragments/table :: data(${user.matchingPassword})"></td>
							<td class="table-secondary"
								th:replace="fragments/table :: data(${user.roles})"></td>
							<td>
								<p th:each="address : ${user.adresse}">
									<span th:text="${address.street}">Street</span> <span
										th:text="${address.streetNumber}">Street Number</span> <span
										th:text="${address.city}">City</span> <span
										th:text="${address.codePostale}">ZIP</span> <span
										th:text="${address.state}">State</span> <span
										th:text="${address.country}">country</span>
								</p>
							</td>
							<!-- <td th:switch="${u/editeUser/(id=${user.id}ser.enabled}"><span th:case="true"
								style="color: green">Enabled</span> <span th:case="false"
								style="color: red">Disabled</span></td> -->

							<!--Remove user button-->
							<td
								th:replace="fragments/table :: dataWithLink('Remove user', @{'/adminPage/' +'deleteUser/'+${user.id}})"><a
								id="remove-link" style="text-decoration: none; color: red"
								data-toggle='modal' data-target='#deleteModal'
								data-placement="right"
								th:onclick="'setRowIndexAndUserId(this, ' + ${user.id} + ')'">
									<i class="fa fa-times" aria-hidden="true"></i>

							</a></td>
							<!--Edit user button-->
							<td
								th:replace="fragments/table :: dataWithLink('Edit', @{'/adminPage/' + 'editeUser/' + ${user.id}})"><a
								style="text-decoration: none; color: blue" class="editBtn"
								data-toggle="tooltip" data-placement="right" title="Edit user">
									<i class="fa fa-edit"></i>
							</a></td>
					</tbody>
				</table>
				<div th:replace="fragments/deleteUserModal :: delete-user-modal"></div>
				<!-- <div th:replace="fragments/pagination :: controls(page=${users})"></div> -->
				<div class="col-lg-3 pl-0">
					<!--Delete success message-->
					<div id="alert-messages"></div>

					<!--Save success message-->
					<div th:if="${userHasBeenSaved}"
						class="alert alert-success alert-dismissible fade show"
						role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Well done!</strong> User has been saved!!!
					</div>

					<!--Update success message-->
					<div th:if="${userHasBeenUpdated}"
						class="alert alert-success alert-dismissible fade show"
						role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Well done!</strong> User has been updated!!!
					</div>

					<!--Number format exception message-->
					<div th:if="${numberFormatException}"
						class="alert alert-danger alert-dismissible fade show"
						role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						Please enter a valid number
					</div>

					<!--No matches found message-->
					<div th:if="${noMatches}"
						class='alert alert-info alert-dismissible fade show' role='alert'>
						<button type='button' class='close' data-dismiss='alert'
							aria-label='Close'>
							<span aria-hidden='true'>&times;</span>
						</button>
						Sorry, no matches found for <span th:text="${usersProperty}"></span>
						= <span th:text="${propertyValue}"></span>
					</div>
				</div>
			</div>
			<a href="#" th:href="@{/adminPage/signup}">
				<button type="button" class="btn btn-primary">New User</button>
			</a>

			<!--Paging-->
			<div id="paging-section" class="row" style="margin-top: 10px;">

				<!--Page size dropdown-->
				<div class="form-group col-md-1" th:if="${users.totalPages != 0}">

					<!--Get pageSizesToShow-->
					<div hidden id="pageSizesToShow"
						th:attr="data-pageSizesToShow = ${pager.pageSizesToShowInJSON}"></div>

					<select class="form-control pagination" id="pageSizeSelect">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>

				<!--Pages-->
				<nav aria-label="Page navigation example"
					class="form-group col-md-11 pagination-centered">
					<ul class="pagination" th:if="${users.totalPages != 0}">
						<li th:class="${users.number == 0} ? 'page-item disabled'"
							class="page-item"><a
							th:if="${not #strings.isEmpty(propertyValue)}" class="page-link"
							th:href="@{/adminPage/users(usersProperty=${usersProperty},
                                       propertyValue=${propertyValue}, pageSize=${selectedPageSize}, page=1)}">
								&laquo; </a> <a th:if="${#strings.isEmpty(propertyValue)}"
							class="page-link"
							th:href="@{/adminPage/users(pageSize=${selectedPageSize}, page=1)}">
								&laquo; </a></li>
						<li th:class="${users.number == 0} ? 'page-item disabled'"
							class="page-item"><a
							th:if="${not #strings.isEmpty(propertyValue) }" class="page-link"
							th:href="@{/adminPage/users(usersProperty=${usersProperty},
                                       propertyValue=${propertyValue}, pageSize=${selectedPageSize}, page=${users.number})}">
								&larr; </a> <a th:if="${#strings.isEmpty(propertyValue)}"
							class="page-link"
							th:href="@{/adminPage/users(pageSize=${selectedPageSize}, page=${users.number})}">
								&larr; </a></li>
						<li
							th:class="${users.number == (page - 1)} ? 'active pointer-disabled'"
							class="page-item"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a th:if="${not #strings.isEmpty(propertyValue)}"
							class="page-link"
							th:href="@{/adminPage/users(usersProperty=${usersProperty},
                                       propertyValue=${propertyValue}, pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"> </a> <a
							th:if="${#strings.isEmpty(propertyValue)}" class="page-link"
							th:href="@{/adminPage/users(pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"> </a>
						</li>
						<li
							th:class="${users.number + 1 == users.totalPages} ? 'page-item disabled'"
							class="page-item"><a
							th:if="${not #strings.isEmpty(propertyValue)}" class="page-link"
							th:href="@{/adminPage/users(usersProperty=${usersProperty},
                                       propertyValue=${propertyValue}, pageSize=${selectedPageSize}, page=${users.number + 2})}">
								&rarr; </a> <a th:if="${#strings.isEmpty(propertyValue)}"
							class="page-link"
							th:href="@{/adminPage/users(pageSize=${selectedPageSize}, page=${users.number + 2})}">
								&rarr; </a></li>
						<li
							th:class="${users.number + 1 == users.totalPages} ? 'page-item disabled'"
							class="page-item"><a
							th:if="${not #strings.isEmpty(propertyValue) }" class="page-link"
							th:href="@{/adminPage/users(usersProperty=${usersProperty}, propertyValue=${propertyValue},
                                       pageSize=${selectedPageSize}, page=${users.totalPages})}">
								&raquo; </a> <a th:if="${#strings.isEmpty(propertyValue)}"
							class="page-link"
							th:href="@{/adminPage/users(pageSize=${selectedPageSize}, page=${users.totalPages})}">
								&raquo; </a></li>
					</ul>
				</nav>
			</div>

		</div>
	</div>
	<!-- <div th:replace="~{fragments/footer :: footer}"></div> -->
	!-- JavaScript -->
	<script src="../../dashboard/html/js//user-popup-menu.js"
		th:src="@{/dashboard/html/js//user-popup-menu.js}"></script>

</body>
</html>