<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title th:utext="#{label.pages.home.title}"></title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" href="favicon.png">
<!-- Font Icon -->
<link rel="stylesheet"
	href="/auth/fonts/material-icon/css/material-design-iconic-font.min.css">
<!-- Main css -->
<link rel="stylesheet" href="/auth/css/style.css">
<script src="js/wow/wow.min.js"></script>
<script>
        new WOW().init();
    </script>
</head>

<body class="bg-warning">


	<div class="container-fluid" layout:fragment="content">
		<!-- ============================================================== -->
		<!-- Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<div class="row page-titles">
			<div class="col-md-5 col-8 align-self-center">
				<h3 class="text-themecolor">Dashboard</h3>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="home">Home</a></li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
			</div>

		</div>
		<div>
			<p sec:authorize="!hasAuthority('WRITE_PRIVILEGE')"
				th:utext="#{message.unauth}">unauth</p>

			<h1 sec:authorize="hasAuthority('WRITE_PRIVILEGE')"
				th:utext="#{label.pages.admin.message}">admin</h1>
		</div>
		<button class="wow fadeInLeft bigButton">
			<div th:insert="fragments/footer.html :: footer"></div>
		</button>
		<button class="wow fadeInRight bigButton">
			<a th:text="#{users.list}" th:href="@{/users}"></a>
		</button>
		<button class="wow fadeInLeft bigButton">
			<a th:text="#{users.create}" th:href="@{/signup}"></a>
		</button>
		<button class="wow fadeInRight bigButton">
			<a th:text="#{edite.button.label} + ''"
				th:href="@{/editUser/{id}(id=${user.id})}"></a>
		</button>
		<button class="wow fadeInRight bigButton">
			<a th:text="#{update.button.label} + ''"
				th:href="@{/updateUser/{id}(id=${user.id})}"></a>
		</button>
		<button class="wow fadeInRight bigButton">
			<a th:text="#{delete.button.label} + ''"
				th:href="@{/deleteUser/{id}(id=${user.id})}"></a>
		</button>

	</div>
</body>
</html>