<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Users</title>

</head>
<body style="background: #4f5050">
	<!-- ============================================================== -->
	<!-- Container fluid  -->
	<!-- ============================================================== -->
	<div class="container-fluid" layout:fragment="content">
		<!-- ============================================================== -->
		<!-- Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<div th:if="${users.isEmpty()}">[[#{no.users}]]</div>
		<div th:unless="${users.isEmpty()}">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th scope="col" th:text="#{user.headers.firstName}"></th>
						<th scope="col" th:text="#{user.headers.lastName}"></th>
						<th scope="col" th:text="#{user.headers.email}"></th>
						<th scope="col" th:text="#{user.headers.mobileNumber}"></th>
						<th scope="col" th:text="#{user.roles}"></th>
						<th scope="col" th:text="#{user.del}"></th>
						<th scope="col" th:text="#{user.edit}"></th>
					</tr>
				</thead>
				<tbody align="center">
					<tr th:each="user : ${users}">
						<td scope="row" th:text="${user.headers.firstName}"></td>
						<td scope="row" th:text="${user.headers.lastName}"></td>
						<td scope="row" th:text="${user.headers.email}"></td>
						<td scope="row" th:text="${user.headers.mobileNumber}"></td>
						<td scope="row" th:text="${user.getRoles()}"></td>

						<td scope="row">
							<form th:action="@{/deleteUser/{id}(id=${user.id})}"
								th:method="DELETE">
								<button type="submit" class="btn btn-danger"
									th:text="#{user.del}"></button>
							</form>
						</td>
						<td scope="row">
							<button type="button" class="btn btn-outline-light text-dark">
								<a style="text-decoration: none; color: black;"
									th:href="@{/editUser/{id}(id=${user.id})}"
									th:text="#{user.edit}"> </a>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>