<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head th:fragment="header (pageTitle)">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="${pageTitle}">Users</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title th:text="#{user.all}">Les Utilisateurs</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" href="favicon.png">

<!-- Font Icon -->
<link rel="stylesheet"
	href="/auth/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="/auth/css/style.css">
<link rel="stylesheet" href="/dashboard/html/css/style.css">
<!-- Bootstrap Core CSS -->
<link href="/dashboard/assets/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<!-- chartist CSS -->
<link href="/dashboard/assets/plugins/chartist-js/dist/chartist.min.css"
	rel="stylesheet">
<link
	href="/dashboard/assets/plugins/chartist-js/dist/chartist-init.css"
	rel="stylesheet">
<link
	href="/dashboard/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
	rel="stylesheet">
<!--This page css - Morris CSS -->
<link href="/dashboard/assets/plugins/c3-master/c3.min.css"
	rel="stylesheet">
<!-- Custom CSS -->
<link href="/dashboard/html/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="/dashboard/html/css/colors/blue.css" id="theme"
	rel="stylesheet">
<!-- Material icons and fonts -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.5.55/css/materialdesignicons.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
<script src="/dashboard/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/dashboard/assets/plugins/bootstrap/js/tether.min.js"></script>
<script src="/dashboard/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/dashboard/html/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/dashboard/html/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/dashboard/html/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script
	src="/dashboard/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="/dashboard/html/js/custom.min.js"></script>
<!-- chartist chart -->
<script src="/dashboard/assets/plugins/chartist-js/dist/chartist.min.js"></script>
<script
	src="/dashboard/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!--c3 JavaScript -->
<script src="/dashboard/assets/plugins/d3/d3.min.js"></script>
<script src="/dashboard/assets/plugins/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<script src="/dashboard/html/js/dashboard1.js"></script>
</head>
<body style="background: #4f5050">
	<!-- ============================================================== -->
	<!-- Container fluid  -->
	<!-- ============================================================== -->
	<div class="container-fluid" layout:fragment="content">
		<h1 th:text="#{user.all}" class="page-titles display-flex-center"></h1>
	</div>
	<div class="container-fluid">
		<!-- ============================================================== -->
		<!-- Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<!--    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Dashboard</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div> -->
		<!-- ============================================================== -->
		<!-- End Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Start Page Content -->
		<!-- ============================================================== -->
		<!-- Row -->

		<div th:if="${users.isEmpty()}">[[#{no.users}]]</div>
		<div th:unless="${users.isEmpty()}">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th scope="col" th:text="#{user.headers.firstName}"></th>
						<th scope="col" th:text="#{user.headers.lastName}"></th>
						<th scope="col" th:text="#{user.headers.email}"></th>
						<th scope="col" th:text="#{user.headers.mobileNumber}"></th>
						<th scope="col" th:text="#{user.roles}"></th>
						<th scope="col" th:text="#{user.del}"></th>
						<th scope="col" th:text="#{user.edit}"></th>
					</tr>
				</thead>
				<tbody align="center">
					<tr th:each="user : ${users}">
						<td scope="row" th:text="${user.firstName}"></td>
						<td scope="row" th:text="${user.lastName}"></td>
						<td scope="row" th:text="${user.email}"></td>
						<td scope="row" th:text="${user.mobileNumber}"></td>
						<td scope="row" th:text="${user.getRoles()}"></td>

						<td scope="row">
							<form th:action="@{/deleteUser/{id}(id=${user.id})}"
								th:method="DELETE">
								<button type="submit" class="btn btn-danger"
									th:text="#{user.del}"></button>
							</form>
						</td>
						<td scope="row">
							<button type="button" class="btn btn-outline-light text-dark">
								<a style="text-decoration: none; color: black;"
									th:href="@{/editUser/{id}(id=${user.id})}"
									th:text="#{user.edit}"> </a>

							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- <div th:replace="~{fragments/footer :: footer}"></div> -->
</body>
</html>