<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header">

<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Kalanblow
	System Management</title>
</head>
<body>
	<div th:replace="fragments/navigation :: navigation"></div>
	<div th:replace="fragments/sidebar :: sidebar"></div>
	<div class="container">
	<div class="container-fluid" layout:fragment="page-content">

		<h1>Title</h1>
		<h2>Section</h2>

		<p>Lorem ipsum dolor sit amet, eu in mollis morbi nunc nulla
			metus, ipsum etiam dictum natoque nec eleifend. Congue nec porttitor,
			ullamcorper neque eu posuere tristique arcu, feugiat magna quam
			tristique nonummy diam torquent, venenatis ut, fugit suspendisse quis
			nec.</p>

		<h3>Sub-Section</h3>

		<p>Lorem ipsum dolor sit amet, eu in mollis morbi nunc nulla
			metus, ipsum etiam dictum natoque nec eleifend. Congue nec porttitor,
			ullamcorper neque eu posuere tristique arcu, feugiat magna quam
			tristique nonummy diam torquent, venenatis ut, fugit suspendisse quis
			nec.</p>


	</div>
	</div>
	<div lang="fr" th:replace="fragments/footer :: footer"> </div>

</body>
</html>
