<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Favicon icon -->
<link rel="icon" type="image/png" href="favicon.png">

<!-- Font Icon -->
<link rel="stylesheet"
	href="/auth/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="/auth/css/style.css">
<link rel="stylesheet" href="/dashboard/html/css/style.css">
<!-- Bootstrap Core CSS -->
<link href="/dashboard/assets/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<!-- chartist CSS -->
<link href="/dashboard/assets/plugins/chartist-js/dist/chartist.min.css"
	rel="stylesheet">
<link
	href="/dashboard/assets/plugins/chartist-js/dist/chartist-init.css"
	rel="stylesheet">
<link
	href="/dashboard/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
	rel="stylesheet">
<!--This page css - Morris CSS -->
<link href="/dashboard/assets/plugins/c3-master/c3.min.css"
	rel="stylesheet">
<!-- Custom CSS -->
<link href="/dashboard/html/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="/dashboard/html/css/colors/blue.css" id="theme"
	rel="stylesheet">
<!-- Material icons and fonts -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.5.55/css/materialdesignicons.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
<script src="/dashboard/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/dashboard/assets/plugins/bootstrap/js/tether.min.js"></script>
<script src="/dashboard/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/dashboard/html/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/dashboard/html/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/dashboard/html/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script
	src="/dashboard/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="/dashboard/html/js/custom.min.js"></script>
<!-- chartist chart -->
<script src="/dashboard/assets/plugins/chartist-js/dist/chartist.min.js"></script>
<script
	src="/dashboard/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!--c3 JavaScript -->
<script src="/dashboard/assets/plugins/d3/d3.min.js"></script>
<script src="/dashboard/assets/plugins/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<script src="/dashboard/html/js/dashboard1.js"></script>
<script src="static/dashboard/html/js/wow/wow.min.js"></script>
<script>
	new WOW().init();
</script>
</head>
<body>
	<div class="row" layout:fragment="content">
		<h4 class="indigo-text center">Result a search term</h4>
		<div class="mt-5">
			<table id="userTable" class="table table-striped table-bordered"
				style="width: 100%">
				<thead>
					<tr>
						<th>Id</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>City</th>
						<th>Country</th>
						<th>Phone</th>
					</tr>
				</thead>
			</table>
		</div>

	</div>
	</div>

	<script>
		var url = '/user/search';

		$(document).ready(function() {

			$('#userTable').DataTable({
				"ajax" : url,
				"processing" : true,
				"serverSide" : true,
				"columns" : [
				/* {
				  "data": "id",
				  "render": function (data, type, row, meta) {
				    return '<a href="/user/edit/' + row.id + '">' + data + '</a>';
				  }
				},
				{
				  "data": "firstName",
				  "render": function (data, type, row, meta) {
				    return '<a href="/user/edit/' + row.id + '">' + data + '</a>';
				  }
				},
				{
				  "data": "lastName",
				  "render": function (data, type, row, meta) {
				    return '<a href="/user/edit/' + row.id + '">' + data + '</a>';
				  }
				}, */
				{
					"data" : "email"
				}, {
					"data" : "city"
				}, {
					"data" : "country"
				}, {
					"data" : "mobileNumber"
				} ]
			});
		});
	</script>
</body>
</html>