<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="layout/header :: header">
<title>Kalanblow Sysmtem Management</title>

</head>

<body>

	<!-- ============================================================== -->
	<!-- Topbar header - style you can find in pages.scss -->
	<!-- ============================================================== -->
           
	<nav th:fragment="navigation"
		class="navbar top-navbar navbar-toggleable-sm navbar-light">
		<div class="container">
			<div     th:insert="fragments/lang.html :: languague" align="right">   
			  
			</div>
			 <div class="" th:text="#{title}"></div>
			<!-- ============================================================== -->
			<!-- Logo -->
			<!-- ============================================================== -->
			<!-- <div class="navbar-header">
				<a class="navbar-brand" href="/dashboard"> Light Logo icon
					<img src="/dashboard/assets/images/logo.png" alt="homepage"
					class="light-logo" /> </b> End Logo icon Logo text <span>
						Light Logo text <img
						src="/dashboard/assets/images/logo-text.png" class="light-logo"
						alt="homepage" />
				</span>
				</a>
			</div> -->
			<br>
			<!-- ============================================================== -->
			<!-- End Logo -->
			<!-- ============================================================== -->
			<br>
			<div class="collapse navbar-collapse">

				<!-- ============================================================== -->
				<!-- toggle and nav items -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Search -->
				<!-- ============================================================== -->
				<ul class="navbar-nav mr-auto">
					<!-- This is  -->
					<li class="nav-item"><a
						class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
						href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>

				</ul>
				<!-- ============================================================== -->
				<!-- User profile and search -->
				<!-- ============================================================== -->
				<ul class="navbar-nav my-lg-0">
					<!-- ============================================================== -->
					<!-- Profile -->
					<!-- ============================================================== -->

					<!--region Displaying Bienvenue  + user-->
					<li class="nav-item">
					<div sec:authorize="isAuthenticated()">
			<span  th:text="#{user.welcome.message}" ></span> <b sec:authentication="name" />
			 <span sec:authentication="authorities" /> 

		</div>
					
					</li>
					<!--endregion-->

					<!--region For ROLE_ADMIN display admin page-->
					<!--================================================================================================-->
					<li class="nav-item d-flex"><i
						class="align-self-center fas fa-user-cog" style="color: white;"></i>
						<a class="nav-link" sec:authorize="hasRole('ADMIN')"
						th:href="@{/adminHome}"> Admin Page </a></li>
					<!--================================================================================================-->
					<!--endregion-->
				</ul>
			</div>

			<div class="py-1 rounded-md bg-white shadow-xs" role="menu"
				aria-orientation="vertical" aria-labelledby="user-menu">
				<a href="#" class="btn-info,btn-info.disabled"
					th:text="#{menu.profile}" role="menuitem">Your Profile </a> 
					<br>
					<a href="#" class="btn-info,btn-info.disabled"
					th:text="#{menu.settings}" role="menuitem">Settings </a>
					<br>
				<!-- tag::logout[] -->
				<div class="btn-info,btn-info.disabled,text-danger">
				<br>
					<form th:action="@{/logout}" method="post" style="display: inline-block" class="form-horizontal label ">
				<button class="button-group .btn,text-danger" type="submit" th:text="#{menu.signout}">Sign out</button>
			</form>
				</div>
				<!-- end::logout[] -->
			</div>
		</div>
	</nav>

	<script type="text/javascript">
		$(".dropdown-button").dropdown();
	</script>
</body>

</html>