<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<!-- tag::mobile-button[] -->
<a th:fragment="mobile-button(link, title)"
	th:href="${link}">
		<!-- <svg th:replace="${icon}"></svg> -->
	[[${title}]]
</a>
<!-- end::mobile-button[] -->

<a th:fragment="desktop-button(link, title)"
	th:href="${link}"
	class="form-group">

	 [[${title}]]
</a>

</html>
