<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Favicon icon -->
<link rel="icon" type="image/png" href="favicon.png">

<!-- Font Icon -->
<link rel="stylesheet"
	href="/auth/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="/auth/css/style.css">
<link rel="stylesheet" href="/dashboard/html/css/style.css">
<!-- Bootstrap Core CSS -->
<link href="/dashboard/assets/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<!-- chartist CSS -->
<link href="/dashboard/assets/plugins/chartist-js/dist/chartist.min.css"
	rel="stylesheet">
<link
	href="/dashboard/assets/plugins/chartist-js/dist/chartist-init.css"
	rel="stylesheet">
<link
	href="/dashboard/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
	rel="stylesheet">
<!--This page css - Morris CSS -->
<link href="/dashboard/assets/plugins/c3-master/c3.min.css"
	rel="stylesheet">
<!-- Custom CSS -->
<link href="/dashboard/html/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="/dashboard/html/css/colors/blue.css" id="theme"
	rel="stylesheet">
<!-- Material icons and fonts -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.5.55/css/materialdesignicons.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
<script src="/dashboard/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/dashboard/assets/plugins/bootstrap/js/tether.min.js"></script>
<script src="/dashboard/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/dashboard/html/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/dashboard/html/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/dashboard/html/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script
	src="/dashboard/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="/dashboard/html/js/custom.min.js"></script>
<!-- chartist chart -->
<script src="/dashboard/assets/plugins/chartist-js/dist/chartist.min.js"></script>
<script
	src="/dashboard/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!--c3 JavaScript -->
<script src="/dashboard/assets/plugins/d3/d3.min.js"></script>
<script src="/dashboard/assets/plugins/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<script src="/dashboard/html/js/dashboard1.js"></script>
<script src="static/dashboard/html/js/wow/wow.min.js"></script>
<script>
	new WOW().init();
</script>
</head>

<body>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Profile</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-block">
                    <center class="m-t-30"><img src="/dashboard/assets/images/users/5.jpg" class="img-circle"
                                                width="150"/>
                        <h4 class="card-title m-t-10" th:inline="text">[[${name}]]</h4>
                        <h6 class="card-subtitle">Agency Admin</h6>
                        <div class="row text-center justify-content-md-center">
                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i>
                                <font class="font-medium">254</font></a></div>
                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i>
                                <font class="font-medium">54</font></a></div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-7">
            <div class="card">
                <div class="card-block">
                    <form action="#" method="POST" class="form-horizontal form-material" th:action="@{/profile}" th:object="${profileForm}">
                        <div class="form-group">
                            <label for="firstName" class="col-md-12">First Name</label>
                            <div class="col-md-12">
                                <input type="text" th:field="*{firstName}" class="form-control form-control-line" name="firstName" id="firstName">
                            </div>
                            <small class="text-danger-padded" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"  style="color: red"></small>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-md-12">Last Name</label>
                            <div class="col-md-12">
                                <input type="text" th:field="*{lastName}" class="form-control form-control-line" name="lastName" id="lastName">
                            </div>
                            <small class="text-danger-padded" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></small>
                        </div>
                        <div class="form-group">
                            <label for="mobileNumber" class="col-md-12">Phone No</label>
                            <div class="col-md-12">
                                <input type="text" th:field="*{mobileNumber}" class="form-control form-control-line" name="mobileNumber" id="mobileNumber">
                            </div>
                            <small class="text-danger-padded" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}"style="color: red"></small>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success" th:text="#{submit.user.updateProfile}"  >Update Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-block">
                    <form action="#" method="POST" class="form-horizontal form-material" th:action="@{/profile/password}" th:object="${passwordForm}">
                        <div class="form-group">
                            <label class="col-md-12">Email</label>
                            <div class="col-md-12">
                                <input type="text" th:field="*{email}"
                                       class="form-control form-control-line" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-12">Password</label>
                            <div class="col-md-12">
                                <input type="password" th:field="*{password}"
                                       class="form-control form-control-line" name="password" id="password">
                            </div>
                            <small class="text-danger-padded" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"  style="color: red"></small>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success" th:text="#{submit.user.changePassord}">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
           <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-block">
                    <form action="#" method="POST" class="form-horizontal form-material" th:action="@{/profile/email}" th:object="${passwordForm}">
                        <div class="form-group">
                            <label class="col-md-12">Email</label>
                            <div class="col-md-12">
                                <input type="text" th:field="*{email}"
                                       class="form-control form-control-line" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-12">Email</label>
                            <div class="col-md-12">
                                <input type="email" th:field="*{email}"
                                       class="form-control form-control-line" name="email" id="email">
                            </div>
                            <small class="text-danger-padded" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  style="color: red"></small>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success" th:text="#{submit.user.changeEmail}">Change Email</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<script layout:fragment="script">
		$('button').bind('click', function(e) {
			if (e.currentTarget.name === 'save') {
				$(e.currentTarget.form).removeAttr('novalidate');
			} else {
				$(e.currentTarget.form).attr('novalidate', 'novalidate');
			}
		});
	</script>
</body>

</html>
