<!DOCTYPE html>
<html lang="fr" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>


<head th:replace="fragments/header :: header">
  <title>Edit</title>

</head>
<body>
	<div class="container-fluid" th:insert="fragments/navigation"></div>
	<div th:insert="fragments/sidebar :: sidebar"></div>
	<div id="admin-section" class="container">
		<h1 th:text="#{user.roles.edite}"></h1>
		<div class="admin-inner">
			<div class="container-fluid">
				<div class="form-group">

					<div id="admin-content">
						<form class="admin-form"
							th:action="@{/role/roles/{id}(id=${role.id})}"
							th:object="${role}" th:method="post" method="post">
							<div class="form-group">
								<label for="editRoleName">Name</label> <input id="editRoleName"
									type="text" class="form-control" th:field="*{userRoleName}">
								<p class="text-danger"
									th:if="${#fields.hasErrors('userRoleName')}"
									th:errors="*{userRoleName}"></p>

							</div>
							<a class="btn btn-dark" th:href="@{/role/roles}">Cancel</a>
							<span></span>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/footer :: footer"></footer>
	<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>